html {
    position: relative;
}

body {
    margin-bottom: 100px;
    margin-top: 30px;
}

.jumbotron {
    height: 500px;
    background-image: url('../img/header.png');
    background-attachment: fixed;
    background-size: cover;
    background-position: 0 -300px;
    color: #eaeaea;
    overflow: hidden;
}

.jumbotron img {
    width: 200px;
    border: 5px solid #eaeaea;
    box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.5);
}

.jumbotron h1, .jumbotron p {
    text-shadow: 1px 1px 10px rgba(0, 0, 0, 0.5);
}

hr {
    width: 250px;
    border-top: 3px solid #999;
}

section {
    min-height: 600px;
}

.pKiri {
    opacity: 0;
    transform: translate(-50px, 0) rotate(20deg);
    transition: 1s;
}

.pKanan {
    opacity: 0;
    transform: translate(50px, 0) rotate(-20deg);
    transition: 1s;
}

.pKiri.pMuncul, .pKanan.pMuncul {
    opacity: 1;
    transform: translate(0,0);
}

.portfolio {
    background-color: #EEE;
}

.portfolio .thumbnail {
    opacity: 0;
    transform: translate(0, -40px);
    transition: 0.5s;
}

.portfolio .thumbnail.muncul {
    opacity: 1;
    transform: translate(0,0);
}

.contact {
    min-height: 700px;
}

footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 55px;
    background-color: #333;
    padding-top: 20px;
}

footer p {
    color: #aaa;
    font-size: 0.9em;
}

footer p i {
    color: darkgoldenrod;
}